page-sub-tabs {
  .ion-tab-icon-base {
    width: 32px !important;
    height: 32px !important;
    padding: 4px 4px 2px;
  }
  .ion-tab-icon-md-base {
    min-width: 0 !important;
    height: 32px;
  }
  .tabs-md .tab-button[aria-selected=true] {
    color: #333;
  }
  $tabImageName: 'home' 'go' 'tops' 'my';
  @for $i from 1 to 5 {
    //for ios
    .ion-ios-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-base;
      content: url("../../assets/subtabs/#{nth($tabImageName, $i)}_active.png");
    }
    .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
      @extend .ion-tab-icon-base;
      content: url("../../assets/subtabs/#{nth($tabImageName, $i)}.png");
    }
    // for android
    .tabs-md .tab-button[aria-selected=true] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../../assets/subtabs/#{nth($tabImageName, $i)}_active.png");
      }
    }
    .tabs-md .tab-button[aria-selected=false] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../../assets/subtabs/#{nth($tabImageName, $i)}.png");
      }
    }
  }
  .ion-ios-tab-task, .ion-ios-tab-task-outline, .ion-ios-tab-master, .ion-ios-tab-master-outline {
    width: 30px !important;
    height: 32px !important;
  }
  // for android
  .ion-tab-icon-add-base {
    width: 55px !important;
    height: 55px !important;
    position: absolute;
    top: -10px;
    z-index: 10;
  }
  .tabs-md .tab-button[aria-selected=true] {
    .ion-md-tab-add {
      @extend .ion-tab-icon-add-base;
      content: url("../../assets/subtabs/add.png");
    }
  }
  .tabs-md .tab-button[aria-selected=false] {
    .ion-md-tab-add {
      @extend .ion-tab-icon-add-base;

      content: url("../../assets/subtabs/add.png");
    }
  }
  //for ios
  .ion-ios-tab-add {
    @extend .ion-tab-icon-add-base;
    content: url("../../assets/subtabs/add.png");
  }
  .ion-ios-tab-add-outline {
    @extend .ion-tab-icon-add-base;
    content: url("../../assets/subtabs/add.png");
  }
  //common
  .tab-button {
    overflow: visible;
  }
  .tabs-md .tabbar {
    background: #fff;
  }
}
