page-main-hot {
    .search {
      width: 100%;
      height: 33px;
      line-height: 33px;
      background-color: #f5f6f7;
      border-radius: 16.5px;
      font-size: 15px;
      text-indent: 1em;
      color: #cccccc;
    }
    .focus {
      width: 100%;
      height: 150px;
      margin-top: 10px;
      img {
        width: 100%;
        height: 150px;
      }
    }
    .setInfo {
      width: 100%;
      overflow: hidden;
      display: flex;
      .left {

        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-right: 13px;

      }
      .right {
        flex: 1;
        .name {
          width: 100%;
          border-radius: 1px;
          padding: 0 7px 0 0px;
          float: left;
          font-family: PingFangSC;
          font-size: 15px;
          text-align: left;
          color: #333333;
          margin-bottom: -8px;
        }
        .author {
          max-width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 10px !important;
          flex: 1;
        }
        span {

          font-family: PingFangSC;
          font-size: 11px;
          text-align: left;
          color: #999999;
          margin-right: 14px;
        }
      }
    }

  }
